<section class="section-about">
  <div class="linear-grandient-1"></div>
  <div class="container-about">
    <div class="container-text-about">
      <h2 class="title-about" id="about">About Us:</h2>
      <p class="aboutPara">
        Hi, my name is Hailey Pullen and I have no idea what I want to do with
        my life so I opted to massage horses and now people pay me stupid money
        just touch their horses for 2h. Sometimes while I do it I plan my
        suicide. Also, I love Wyatt. Thank you for coming to my TED talk. Don't
        forget to disrespect your elders and drink alcohol. Unless you're Sean
      </p>
    </div>
    <div class="container-svg-about">
      <div class="container-svg">
        <lottie-player
          src="https://assets8.lottiefiles.com/packages/lf20_sg18igu8.json"
          background="transparent"
          speed="1"
          style="width: 380px; height: 380px; position:relative;"
          loop
          autoplay></lottie-player>
      </div>
    </div>
  </div>
</section>

<script
  src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
></script>

<style>
  .aboutPara{
    padding-top: 20px;
    text-align: center;
  }
  .linear-grandient-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(at left center, rgba(1, 190, 150 , 0.5), transparent , transparent); */
    background: linear-gradient(to top, #000, rgba(1, 190, 150, 0.5));
    background:;
    z-index: 0;
  }

  .section-about {
    position: relative;
    background-color: #111111;
  }
  .container-about {
    position: relative;
    width: 90%;
    display: flex;
    margin: 0 auto;
    max-width: 1355px;
  }

  .container-text-about {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    padding: 10px 0;
    color: #f6f6f9;
    width: 100%;
    font-weight: 800;
    scroll-margin-top: 80px;
  }
  .container-text-about p {
    font-size: 17px;
    color: #f6f6f9;
    text-align: left;
    letter-spacing: 1px;
  }

  .container-svg-about {
    position: relative;
    width: 50%;
  }
  .container-svg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
  }

  /*  responsive  */

  @media (max-width: 900px) {
    /*Resposivo de la seccion sobre mi*/
    .container-about {
      flex-direction: column;
    }
    .container-svg-about {
      width: 100%;
    }
    .container-svg {
      justify-content: start;
      align-items: end;
      padding: 0;
    }
    .container-text-about {
      width: 100%;
      padding: 10px 0;
    }
  }
</style>
