---
import { skills } from "../../../const/const";
import { getIconComponent } from "../../../icons/IconAll.astro";
---

<section class="section-skill" id="skills">
  <div class="linear-grandient-1"></div>
  <div class="container-skill">
    <h2 class="title-skills">Some Benefits of Massage:</h2>
  </div>
  <div class="container-skill skills-center">
    <ul>
      <li class="spaceing" style="list-style: none;">Enhances Circulation</li>
      <li class="spaceing" style="list-style: none;">Increase range of motion and flexibility</li>
      <li class="spaceing" style="list-style: none;">Improves comfort and provides pain relief</li>
      <li class="spaceing" style="list-style: none;">Stimulates muscle tone</li>
      <li class="spaceing" style="list-style: none;">Decreases recovery time</li>
    </ul>
  </div>
</section>

<style>
  .spaceing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .section-skill {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
  }
  .container-skill {
    position: relative;
    width: 90%;
    color: #111111;
    padding: 10px 0;
    margin: 0 auto;
    padding: 10px 0;
    height: 100%;
    max-width: 1355px;
  }
  .title-skills {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    padding: 10px 0;
    color: #111111;
    width: 100%;
    font-weight: 800;
    scroll-margin-top: 80px;
  }
  .skills-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px 0;
    color: #111111;
    width: 100%;
    font-weight: 500;
    scroll-margin-top: 80px;
    list-style: none;
  }

  .li-skills {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  .p-skill {
    padding: 5px 0;
  }
  .linear-grandient-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(1, 190, 150, 0.5));
    z-index: 0;
  }

  .ul-skill {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
    width: 100%;
    overflow: hidden;
    grid-template-columns: repeat(8, 1fr);
  }
  @media (min-width: 300px) {
    .ul-skill {
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 0;
    }
  }
  @media (min-width: 550px) {
    .ul-skill {
      grid-template-columns: repeat(4, 1fr);
      padding: 20px 0;
    }
  }
  @media (min-width: 800px) {
    .ul-skill {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (min-width: 1000px) {
    .ul-skill {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .ul-skill {
      grid-template-columns: repeat(7, 1fr);
    }
  }
  @media (min-width: 1350px) {
    .ul-skill {
      grid-template-columns: repeat(8, 1fr);
    }
  }
</style>
