<section id="contact">
  <form
    action="https://formsubmit.co/fa684217d62b830a7db5dab01e6ffe42"
    method="POST"
  >
    <label for="First Name">First Name:</label><div class="fields">
      <input
        type="text"
        placeholder="Enter your first name"
        name="First Name"
        required
      />
    </div>

    <label for="First Name">Last Name:</label><div class="fields">
      <input
        type="text"
        placeholder="Enter your last name"
        name="Last Name"
        required
      />
    </div>
    <label for="email">Email:</label><div class="fields">
      <input
        type="email"
        placeholder="Enter your email address"
        name="email"
        required
      />
    </div>
    <label for="tel">Phone Number:</label><div class="fields">
      <input
        type="tel"
        placeholder="Enter your phone number"
        name="phone"
        required
      />
    </div>
    <label for="email">Region:</label><div class="fields">
      <input
        type="text"
        placeholder="Enter your Region"
        name="region"
        required
      />
    </div>
    <div class="button">
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
<style>
  .fields {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  label,
  select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }
  input[name="region"],
  select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 12px 20px;
    margin: 15px 0;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="text"],
  select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="email"],
  select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="tel"],
  select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #01be96;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #01be96;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button[type="submit"]{
    background-color: #01be96;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }
</style>
