<!-- action="https://formsubmit.co/fa684217d62b830a7db5dab01e6ffe42" -->
<section id="contact">
  <h2 class="title-contact" id="contact">Contact Us:</h2>
  <form
    action="https://formsubmit.co/beb55f552a612090f84b54894a2ec91b"
    method="POST"
    id="contactForm"
  >
    <input type="hidden" name="_captcha" value="false">
    <input type="hidden" name="_next" value="https://www.hpequineperformancetherapy.com/thank-you">
    <input type="hidden" name="_delay" value="2">

    <label for="First Name">First Name:</label><div class="fields">
      <input
        id="first"
        type="text"
        placeholder="Enter your first name"
        name="First Name"
        required
      />
    </div>

    <label for="First Name">Last Name:</label><div class="fields">
      <input
        id="last"
        type="text"
        placeholder="Enter your last name"
        name="Last Name"
        required
      />
    </div>
    <label for="email">Email:</label><div class="fields">
      <input
        id="email"
        type="email"
        placeholder="Enter your email address"
        name="email"
        required
      />
    </div>

    <label for="phone">Phone Number:</label><div class="fields">
      <input
        id="phone"
        type="tel"
        placeholder="Enter your phone number"
        name="phone"
        pattern="\d{3}[-]\d{3}[-]\d{4}"
        autocomplete="tel"
        aria-label="Phone number"
        title="Phone number in the format 123-456-7890"
        required
        class="form-control"
      />
    </div>
    <label for="email">Region:</label><div class="fields">
      <select id="region" name="region" required>
        <option value="Select a Region" disabled selected>Select a Region</option>
        <option value="rigaud">Rigaud</option>
        <option value="st-Lazare">St-Lazare</option>
        <option value="Vaudreuil-Dorion">Vaudreuil-Dorion</option>
        <option value="st-Marthe">St-Marthe</option>
        <option value="hudson">Hudson</option>
        <option value="Pointe-Fortune">Pointe-Fortune</option>
        <option value="Les Coteaux">Les Coteaux</option>
        <option value="Coteau-du-Lac">Coteau-du-Lac</option>
        <option value="Notre-Dame-de-l'Île-Perrot">Notre-Dame-de-l'Île-Perrot</option>
        <option value="Beauharnois">Beauharnois</option>
        <option value="Kirkland">Kirkland</option>
        <option value="Hawkesburry">Hawkesburry</option>
      </select>
    </div>
    <label for="dayOfWeek">Date:</label><div class="fields">
      <select id="day" name="Date" required>
        <option value="Select a Day" disabled selected>Select a day</option>
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
      </select>
    </div>
    <label for="time">Time:</label><div class="fields">
      <select id="time" name="Time" required>
        <option value="Select a time" disabled selected>Select a time</option>
        <option value="8:00">8:00 AM</option>
        <option value="9:00">9:00 AM</option>
        <option value="10:00">10:00 AM</option>
        <option value="11:00">11:00 AM</option>
        <option value="12:00">12:00 AM</option>
        <option value="13:00">1:00 PM</option>
        <option value="14:00">2:00 PM</option>
        <option value="15:00">3:00 PM</option>
        <option value="16:00">4:00 PM</option>
        <option value="17:00">5:00 PM</option>
      </select>
    </div>

    <div class="wrap">
      <button class="button" type="submit" id="submitButton">
        <span id="buttonText">Submit</span>
        <span id="loadingSpinner" class="hidden">
          <svg class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
          </svg>
        </span>
      </button>
    </div>
    <div id="sub" class="wrap text-center">
      <p class="text-center pt-10 text-white">
        Inquiries Will Be Confirmed Within 24 Hours
      </p>
    </div>
  </form>
  
</section>

<style>
  #sub{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#ccc;
    text-wrap:wrap;
  }
  #time {
    background-color: #313133;
  }
  #day {
    background-color: #313133;
    /* color: #f6f6f9; */
  }
  #region {
    background-color: #313133;
    /* color: #f6f6f9; */
  }
  #phone {
    background-color: #313133;
    /* color: #f6f6f9; */
  }
  #email {
    background-color: #313133;
    /* color: #f6f6f9; */
  }
  #last {
    background-color: #313133;
    /* color: #f6f6f9; */
  }
  #first {
    background-color: #313133;
    /* color: #f6f6f9; */
  }
  .title-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6f6f9;
    padding: 10px 0;
    padding-top: 75px;
    font-size: 25px;
    font-weight: 700;
    scroll-margin-top: 80px;
  }
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 35px;
  }

  .button {
    min-width: 300px;
    min-height: 60px;
    display: inline-flex;
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4fd1c5;
    background: linear-gradient(
      90deg,
      rgba(129, 230, 217, 1) 0%,
      rgba(79, 209, 197, 1) 100%
    );
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 20px;
  }

  .button::before {
    content: "";
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00ffcb;
    box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }

  .button:hover,
  .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }

  .button:hover::before,
  .button:focus::before {
    opacity: 1;
  }

  .button::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  .button:hover::after,
  .button:focus::after {
    animation: none;
    display: none;
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  .fields {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
  }
  label,
  select {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6f6f9;
    padding-top: 15px;
  }
  input[name="region"],
  select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 12px 20px;
    margin: 15px 0;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="text"],
  select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    color: #f6f6f9 ;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="email"],
  select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="tel"],
  select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  /* input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #01be96;
    color: white;

    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  input.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* input[type="submit"]:hover {
    background-color: #01be96;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  x;
  }
   */
  button[type="submit"] {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
</style>
