---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
import profilePic from "./img/sagi.jpg";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Hailey Pullen Portfolio"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hp-equine-performance-therapy.vercel.app/" />
    <meta property="og:site_name" content="Hailey Pullen" />
    <meta property="og:title" content="Hailey Pullen Portfolio" />
    <meta
      property="og:image"
      content="https://www.sagihowlett.com/images/sagi.jpg"
    />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portfolio | Hailey Pullen</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
