---
import { studies } from "../../../const/const";
---

<section class="section_studies">
  <div class="linear-grandient-1 "></div>
  <div class="content_studies">
    <h3 class="title-studies" id="education">Education:</h3>
    <ul class="ul-studies ">
      {
        studies.map(({ date, title, corporation }) => (
          <li class="li-studies ">
            <span class="circle animate-bounce" />
            <div>
              <h3>{title}</h3>
              <h4>{corporation}</h4>
              <span>{date}</span>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .section_studies {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #111111;
    justify-content: center;
    align-items: center;
  }

  .linear-grandient-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(1, 190, 150, 0.5), #000);
    z-index: 0;
  }

  .content_studies {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1355px; /* Maximum width for content */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
  }

  .title-studies {
    font-size: 27px;
    color: #f6f6f9;
    text-align: center;
    font-weight: 400;
    margin: 20px 0;
    scroll-margin-top: 80px;
  }

  .ul-studies {
    padding: 30px 0;
    margin: 0; /* Remove default margin */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .li-studies {
    padding: 0 20px;
    color: #f6f6f9;
    border-left: 1px solid #f6f6f9;
    position: relative;
    margin-bottom: 50px; /* Space between list items */
    width: 100%; /* Ensure list item takes full width of the container */
    max-width: 600px; /* Ensure list item does not exceed max width */
    box-sizing: border-box; /* Include padding and border in width calculation */
  }

  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -6px; /* Adjusted to align with border */
    top: 5px;
    background-color: #f6f6f9;
  }

  .li-studies h3 {
    padding-bottom: 5px;
    font-weight: 200;
  }

  .li-studies h4 {
    padding: 5px 0;
  }

  .li-studies span {
    font-size: 13px;
  }
  @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

</style>
